<div class="d-flex align-items-center justify-content-center">
<h1>Employee List</h1>
</div>

<%= link_to "New Employee", new_employee_path %><br><br>

<div class="table-responsive">
<table class="table">
  <tr>
    <th>ID</th>
    <th>F_Name</th>
    <th>L_Name</th>
    <th>DOB</th>
    <th>Email</th>
    <th>Address</th>
    <th>Contact_num.</th>
    <th>Designation</th>
    <th>Hire_date</th>
    <th>Salary</th>
    <th>CTC</th>
    <th>Department</th>
    <th>Bank_Account</th>
    <th>EDIT</th>
    <th>DELETE</th>
  </tr>
  <%= render(@employees) || "There are no products available." %>
 </table>
</div>