<div class="d-flex align-items-center justify-content-center">
  <h1>Employee List</h1>
</div>

<%= link_to "New Employee", new_employee_path %><br><br>

<div class="table-responsive">
  <table class="table">
    <tr>
      <th>ID</th>
      <th>F_Name</th>
      <th>L_Name</th>
      <th>Email</th>
      <th>Designation</th>
      <th>Department</th>
      <th>EDIT</th>
      <th>DELETE</th>

    </tr>
    <%= render(@employees) || "There are no products available." %>
  </table>
</div>