<div class="d-flex align-items-center justify-content-center">
<h1>Department List</h1>
</div>
<%= link_to "New Department", new_department_path %><br><br>
<div class="table-responsive">
<table class="table">
  <tr>
    <th>ID</th>
    <th>Dep_Name</th>
    <th>NO. of Employees</th>
     <th>EDIT</th>
    <th>DELETE</th>
  </tr>
  <%# check how to render collection %>
  <%= render(@departments) || "There are no products available." %>
 </table>
</div>