<div class="d-flex align-items-center justify-content-center">
  <h1>Periferal List</h1>
</div>
<%= link_to "New Periferal", new_periferal_path %><br><br>
<div class="table-responsive">
  <table class="table">
    <tr>
      <th>id</th>
      <th>name</th>
      <th>Category</th>
      <th>warranty_start_date</th>
      <th>warranty_end_date</th>
      <th>EDIT</th>
      <th>DELETE</th>
    </tr>
    <%= render(@periferals) || "**There are no products available." %>
  </table>
</div>